// Place all the styles related to the Localizacao_Onibuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    background-image: url('mapa-usp.jpeg');
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    background-size: 50%;

}